.signup {
	&.active {
		// .signup__signup
		& .signup__signup {
			left: 107px;
		}
		// .signup__text
		& .signup__text {
			right: -100%;
		}
	}

	width: 145px;
	height: 40px;
	border-radius: 30px;
	background: rgb(74, 188, 193);

	overflow: hidden;
	outline: 8px solid rgba(139, 139, 138, 0.05);
	position: relative;

	// .signup__signup
	&__signup {
		width: 38px;
		height: 38px;
		background: rgb(255, 255, 255);
		border-radius: 50%;

		color: rgb(139, 139, 138);
		font-family: Inter;
		font-size: 10px;
		font-weight: 400;
		line-height: 12px;

		display: flex;
		justify-content: center;
		align-items: center;
		// text-align: center;

		position: absolute;
		top: 50%;
		left: 1px;
		transform: translate(0px, -50%);
		transition: left 0.3s ease 0s;
	}
	// .signup__text
	&__text {
		cursor: default;
		color: rgb(255, 255, 255);
		font-family: Inter;
		font-size: 14px;
		line-height: 17px;

		position: absolute;
		right: 10px;
		top: 50%;
		transform: translate(0px, -50%);
		transition: right 0.3s ease 0s;
	}
}
