.calculator {
	padding: 50px 0;
	overflow: auto;

	// .calculator__title
	&__title {
		color: rgb(74, 188, 193);
		font-size: 24px;
		line-height: 30px;
		text-align: center;
		margin-bottom: 50px;
	}

	// .calculator__container
	&__container {
		display: flex;
		align-items: center;
		justify-content: space-between;
		gap: 20px;

		@media (max-width: 1330px) {
			flex-direction: column;
		}
	}

	// .calculator__wrapper
	&__wrapper {
		flex: 0 1 485px;
		@media (max-width: 1330px) {
			flex: auto;
			width: 100%;
		}
	}
	// .calculator__tab
	&__tab {
		// max-width: 485px;
	}
	// .calculator__subtitle
	&__subtitle {
		color: rgb(74, 188, 193);
		font-size: 16px;
		line-height: 20px;
	}
	// .calculator__range
	&__range {
		-webkit-appearance: none;
		appearance: none;
		background-color: #4abcc1;
		height: 2px;
		width: 100%;
		margin-bottom: 5px;

		&::-webkit-slider-thumb {
			-webkit-appearance: none;
			width: 10px;
			height: 10px;
			background: #d9d9d9;
			border-radius: 50%;
			cursor: pointer;
		}
	}
	// .calculator__bottom
	&__bottom {
		display: flex;
		justify-content: space-between;
		gap: 20px;

		p {
			color: rgb(139, 139, 138);
			line-height: 17px;
		}
	}
	// .calculator__quantity
	&__quantity {
		// .calculator__quantity_max
		&_max {
		}
	}

	// .calculator__check
	&__check {
		@media (max-width: 1330px) {
			width: 100%;
		}
	}
	// .calculator__row
	&__row {
		display: flex;
		justify-content: space-between;
		gap: 20px;
		padding: 0 50px;
		position: relative;

		@media (max-width: 860px) {
			padding: 0;
		}

		&:not(:last-child) {
			margin-bottom: 8px;
		}

		&:hover > .calculator__popup {
			display: block;
		}

		// .calculator__row_total
		&_total {
			margin-top: 20px;

			& > .calculator__price {
				color: #4abcc1;
			}
		}
	}
	// .calculator__subtitle
	&__subtitle {
	}
	// .calculator__price
	&__price {
		color: rgb(139, 139, 138);
		font-size: 16px;
		line-height: 20px;
	}
	// .calculator__popup
	&__popup {
		display: none;
		position: absolute;
		top: 70%;
		left: -175px;
		z-index: 10;

		color: rgb(0, 0, 0);
		font-size: 14px;
		line-height: 14px;

		width: 225px;
		border: 0.3px solid rgb(74, 188, 193);
		border-radius: 30px 0px 30px 30px;
		background: rgb(255, 255, 255);
		padding: 15px;
	}
	// .calculator__inner
	&__inner {
		border: 0.5px solid rgb(217, 217, 217);
		border-radius: 30px;
		background: rgba(217, 217, 217, 0);
		padding: 10px 0;
		@media (max-width: 860px) {
			border: none;
		}
	}
}
