.content {
	border: 0.5px solid rgb(217, 217, 217);
	border-radius: 30px;
	background: rgba(217, 217, 217, 0);
	margin: 5px;
	position: relative;
	overflow: hidden;
	height: 99%;

	&__signup {
		position: absolute;
		top: 15px;
		right: 15px;
		z-index: 10;
		@media (max-width: 991px) {
			right: 50%;
			transform: translate(50%, 0px);
		}
	}

	&__container {
		height: calc(100vh - 15px); /// ???
		// overflow: auto;
	}

	&__slider {
		height: calc(100vh - 15px); /// ???

		& > div > div {
			@media (max-width: 767px) {
				padding: 50px 0;
			}
		}
	}

	&__slide {
		&_calculator {
			// overflow: auto;
		}
	}

	&__image {
		width: 100%;
		height: calc(100vh - 15px); /// ???
		// object-fit: cover;
	}

	&__pagination {
		position: absolute;
		top: 50%;
		right: 10px;
		transform: translate(0px, -50%);
		z-index: 10;

		// @media (max-width: 1330px) {
		// 	right: 10px;
		// }

		// height: 108px;
		// overflow: hidden;
	}

	&__bullet {
		display: block;
		width: 12px;
		height: 12px;
		border-radius: 50%;
		background: rgb(217, 217, 217);
		cursor: pointer;
		&:not(:last-child) {
			margin-bottom: 20px;
		}
		&_active {
			background: rgb(74, 188, 193);
			cursor: default;
		}
	}

	&__video {
		position: absolute;
		bottom: 15px;
		right: 15px;
		z-index: 10;
	}

	&__privacy {
		width: 100%;
		position: absolute;
		bottom: 0;
		left: 0;
		z-index: 20;
	}
}
